Question Description

Que-49. Add a single-line comment at the top of your script describing what the program does.

In [ ]:
# This tag use for making one line comment

Que-50. Write two print statements and disable one of them using a single-line comment.

In [ ]:
# print("What will be your future professiona")
print("My Future profession will be AI Engineer")

My Future profession will be AI Engineer

Que-51. Add an inline single-line comment at the end of a print statement explaining what it prints.

In [ ]:
Name_usr = 'Paravind Kumar Vishwakarma'
print(f"My name is {Name_usr}") #This f will name with actual stored name

My name is Paravind Kumar Vishwakarma

Que-52. Create a multi-line comment (using triple quotes) that explains the purpose of the next 3 lines of code.

In [ ]:
""" 
This program will take user input and show output as reverse table
"""
num = int(input("Enter a number = "))
i = 10
while i>=1:
    print(num," X ",i," = ",num*i)
    i-=1

10  X  10  =  100
10  X  9  =  90
10  X  8  =  80
10  X  7  =  70
10  X  6  =  60
10  X  5  =  50
10  X  4  =  40
10  X  3  =  30
10  X  2  =  20
10  X  1  =  10

Que-53. Write a multi-line comment that lists your name, date, and a short program description.

In [ ]:
"""
Name = Paravind Kumar Vishwakarma
Date: 01/01/2026
Program Description: In Next module will create a large project
"""

'\nName = Paravind Kumar Vishwakarma\nDate: 01/01/2026\nProgram Description: In Next module will create a large project\n'

Que-54. Add a docstring at the top of a function to describe what the function should do (use triple quotes).

In [ ]:
def calculate_area(radius):
    """
    This function calculates the area of a circle given its radius.
    Formula: Area = œÄ * radius^2
    Parameters:
        radius (float): The radius of the circle.
    Returns:
        float: The calculated area of the circle.
    """
    import math
    return math.pi * radius ** 2

Que-55. Use the newline escape sequence \\n to print a two-line message in a single print call.

In [4]:
print ("My Name is Paravind Kumar Vishwakarma. \nMy goal is to become Data Scientist") #Used \n to create new line

My Name is Paravind Kumar Vishwakarma.
My goal is to become Data Scientist

Que-56. Use the tab escape sequence \\t to align three words in a single line.

In [ ]:
print ("Fruits Name = a) Apple\t b) Mango\t c) Banana\n")

Fruits Name = a) Apple	 b) Mango	 c) Banana

Que-57. Print a string that contains both double quotes and single quotes using the correct escape sequences.

In [ ]:
print ("She said, \"It's a beautiful day!\"")

She said, "It's a beautiful day!"

Que-58. Print a Windows file path (e.g., C:\\Users\\Name\\Documents) showing backslashes correctly.

In [ ]:
print ("C:\\Users\\Name\\Documents")

C:\Users\Name\Documents

Que-59. Print a string with a backspace escape (\\b) to demonstrate how it removes the previous character.

In [ ]:
print ("Paravind Kumar b\bVishwakarma")

Paravind Kumar Vishwakarma

Que-60. Use a raw string (r"...") to print a pattern containing many backslashes without escaping them.

In [ ]:
print (r"C:\Users\paravind\OneDrive - padams.in\Paravind Vishwakarma\ERP Training Video\Tactive Ticket Document")

C:\Users\paravind\OneDrive - padams.in\Paravind Vishwakarma\ERP Training Video\Tactive Ticket Document

Que-61. Print text that includes a Unicode character (e.g., the Rupee symbol \\u20B9) using an escape sequence.

In [ ]:
print("The Symbol of Rupee is \u20B9")
print("The Symbol of smile emoji \U0001F60A")
print("The Symbol of smile emoji \u0905")
print("\u092A\u0930\u0935\u093F\u0902\u0926\u0020\u0915\u0941\u092E\u093E\u0930\u0020\u0935\u093F\u0936\u094D\u0935\u0915\u0930\u094D\u092E\u093E")

The Symbol of Rupee is ‚Çπ
The Symbol of smile emoji üòä
The Symbol of smile emoji ‡§Ö
‡§™‡§∞‡§µ‡§ø‡§Ç‡§¶ ‡§ï‡•Å‡§Æ‡§æ‡§∞ ‡§µ‡§ø‡§∂‡•ç‡§µ‡§ï‡§∞‡•ç‡§Æ‡§æ

Que-62. Use print with multiple arguments to display three values separated by the default separator.

In [ ]:
print("")

Que-63. Use print with the sep parameter to separate values by a hyphen (-) instead of the default space.

In [ ]:
a = 5
b = 6
c = 10
print(a, b, c, sep='\n')
print(a, b, c, sep='\t')
print(a, b, c, sep='_')

5
6
10
5	6	10
5_6_10

Que-64. Use print with the sep parameter to join values with ' | ' as a custom separator.

In [ ]:
print("My name is Paravind Vishwakarma "," I am corporate employee",sep="|")

My name is Paravind Vishwakarma | I am corporate employee

Que-65. Use the end parameter to print two messages on the same line separated by a space.

In [ ]:
print("Mango is the king of the fruit.","Mango is sweet fruit.",end=" ")

Mango is the king of the fruit. Mango is sweet fruit.

Que-66. Print the numbers 1 to 5 on the same line, separated by a single space, using end=\" \" in a loop.

In [ ]:
print(1,2,3,4,5,end=" ")

1 2 3 4 5

Que-67. Use end=\"\\t\" to print items in a row separated by tabs.

In [ ]:
print("Paravind reviews the purchase orders every morning.",
"The ERP system validates all invoices automatically.",
"Managers approve pending requests before noon.",
"Inventory reports are generated weekly for analysis.",
"The dashboard updates in real time to ensure accuracy.",end="\t")

Paravind reviews the purchase orders every morning. The ERP system validates all invoices automatically. Managers approve pending requests before noon. Inventory reports are generated weekly for analysis. The dashboard updates in real time to ensure accuracy.

Que-68. Combine sep and end: print A, B, C with sep=\",\" and end=\";\" and then print D on the same line.

In [ ]:
print("A","B","C",sep=";",end=";"+"D")

A;B;C;D

Que-69. Demonstrate print with f-strings to display a formatted sentence using two variables.

In [ ]:
Name = "Paravind Kumar Vishwakarma"
Subject = "Artificial Intelligence"
print(f"My name is {Name} and subject is {Subject}")

My name is Paravind Kumar Vishwakarma and subject is Artificial Intelligence

Que-70. Compare printing with commas vs. string concatenation by preparing two print statements.

In [ ]:
# 1) Using commas in print()
name = "Paravind"
age = 32
print("Name:", name, "| Age:", age)  # Commas handle spacing and type conversion

# 2) Using string concatenation
print("Name: " + name + " | Age: " + str(age))  # Must convert non-strings to str()

Name: Paravind | Age: 32
Name: Paravind | Age: 32

Que-71. Use print with the flush=True parameter to immediately display output during a loop.

In [ ]:
import time
for i in range(30):
    print(time.strftime("%Y-%m-%d %H:%M:%S"), "- Step", i, flush=True)
    time.sleep(1)

2026-01-04 22:30:25 - Step 0
2026-01-04 22:30:26 - Step 1
2026-01-04 22:30:27 - Step 2
2026-01-04 22:30:28 - Step 3
2026-01-04 22:30:29 - Step 4
2026-01-04 22:30:30 - Step 5
2026-01-04 22:30:31 - Step 6
2026-01-04 22:30:32 - Step 7
2026-01-04 22:30:33 - Step 8
2026-01-04 22:30:34 - Step 9
2026-01-04 22:30:35 - Step 10
2026-01-04 22:30:36 - Step 11
2026-01-04 22:30:37 - Step 12
2026-01-04 22:30:38 - Step 13
2026-01-04 22:30:39 - Step 14
2026-01-04 22:30:40 - Step 15
2026-01-04 22:30:41 - Step 16
2026-01-04 22:30:42 - Step 17
2026-01-04 22:30:43 - Step 18
2026-01-04 22:30:44 - Step 19
2026-01-04 22:30:45 - Step 20
2026-01-04 22:30:46 - Step 21
2026-01-04 22:30:47 - Step 22
2026-01-04 22:30:48 - Step 23
2026-01-04 22:30:49 - Step 24
2026-01-04 22:30:50 - Step 25
2026-01-04 22:30:51 - Step 26
2026-01-04 22:30:52 - Step 27
2026-01-04 22:30:53 - Step 28
2026-01-04 22:30:54 - Step 29

Que-72. Print a carriage return example (\\r) to overwrite part of the same line in the terminal.

In [ ]:
import time
for i in range(5):
    print(time.strftime("\r%Y-%m-%d \r%H:%M:%S"), "- Step", i, flush=True)
    time.sleep(1)

22:44:32 - Step 0
22:44:33 - Step 1
22:44:34 - Step 2
22:44:35 - Step 3
22:44:36 - Step 4

Que-73. Write a single-line comment explaining what the next print statement does.

In [ ]:
# Below code print the sentance "Welcome to VISION AI"
print("Welcomme to VISION AI")

Welcomme to VISION AI

Que-74. Add a single-line comment to disable a print statement without deleting it.

In [ ]:
# print("Hello! I am VISION AI. How may i assist you")

Que-75. Create a multi-line comment that explains the purpose of a small program.

In [ ]:
""" 
below code print the simple statement which is "Welcome to the world of AI
"""
print("Welcome to the world of AI")

Welcome to the world of AI

Que-76. Use a multi-line comment to describe three variables you will declare next.

In [ ]:
""" 
In the code, will define three variables which is,
Name: Which store the name as string
Roll Number: Which store the roll number as integer
Stream: Which store the stream in string
"""
Name = "Paravind Vishwakarma"
Roll_Num = 88579528
Stream  = "Artificial Intelligent & Robotics Automation"

Que-77. Print a message that includes a newline (\n) and a tab (\t) in the same string.

In [ ]:
print("Moves the cursor back to the beginning of the current line.\n",
"\tIt is used to overwrite text on the same line instead of starting a new one.")

Moves the cursor back to the beginning of the current line.
 	It is used to overwrite text on the same line instead of starting a new one.

Que-78. Print a string that contains both single and double quotes using escape sequences.

In [ ]:
print('This is the double quotes = ""\n',"This is the single quotes = ''")

This is the double quotes = ""
 This is the single quotes = ''

Que-79. Print a backslash character in a string using escape sequences.

In [ ]:
print("This is a \\")

This is a \

Que-80. Print a string that uses the carriage return (\r) to overwrite part of the text.

In [ ]:
import time

# Simple progress display using \r
for i in range(1, 11):
    print(f"\rLoading... {i}/10", end="", flush=True)
    time.sleep(1)

print("\nDone!")

Loading... 10/10
Done!

Que-81. Use print() with multiple arguments and check the default separator.

In [28]:
print("Hello","World","2026",sep="_")

Hello_World_2026

Que-82. Use print() with the sep parameter to separate words with a colon (:).

In [30]:
print("04","47","00",sep=":")

04:47:00

Que-83. Use print() with the end parameter to print two statements on the same line.

In [31]:
print("Current time is 22:47","& Todays date is 04/01/2026",end=" ")

Current time is 22:47 & Todays date is 04/01/2026

Que-84. Print numbers 1 to 10 on the same line using a loop and end=" ".

In [36]:
num = 10
i = 1
while i<=num:
    print(i,end=" ")
    i+=1;

1 2 3 4 5 6 7 8 9 10

Que-85. Combine sep and end in a single print statement to format output.

In [38]:
print("Welcome to", "2026", sep=" ", end=" ")

Welcome to 2026

Que-86. Print a formatted string using f-strings with two variables.

In [42]:
Greatings = "Happy New Year"
Year = 2026
print(f"{Greatings} {Year}")

Happy New Year 2026

Que-87. Print a string with a Unicode emoji using its escape code.

In [49]:
# Printing 10 emojis using Unicode
print("\U0001F602",  # üòÇ Face with Tears of Joy
      "\U0001F923",  # ü§£ Rolling on the Floor Laughing
      "\U0001F604",  # üòÑ Smiling Face with Open Mouth
      "\U0001F606",  # üòÜ Laughing Face
      "\U0001F609",  # üòâ Winking Face
      "\U0001F60A",  # üòä Smiling Face with Smiling Eyes
      "\U0001F60D",  # üòç Heart Eyes
      "\U0001F618",  # üòò Face Blowing a Kiss
      "\U0001F61C",  # üòú Winking Face with Tongue
      "\U0001F61D")  # üòù Squinting Face with Tongue

üòÇ ü§£ üòÑ üòÜ üòâ üòä üòç üòò üòú üòù

Que-88. Use print() to display a pattern using escape sequences (e.g., stars in multiple lines).

In [53]:
print("*****\n****\n***\n***\n**\n*")

*****
****
***
***
**
*

Que-89. Demonstrate the difference between print("A","B") and print("A"+"B").

In [54]:
print("A","B") #In this , work as separator
print("A"+"B") #In this '+' sign work as concatenation

A B
AB

Que-90. Use print() with flush=True to show immediate output in a loop.

In [55]:
import time

# Simple progress display using \r
for i in range(1, 6):
    print(f"\rLoading... {i}/5", end="", flush=True)
    time.sleep(1)

print("\nDone!")

Loading... 5/5
Done!