Question Description

Que-49. Add a single-line comment at the top of your script describing what the program does.

In [3]:
#This tag use for making one line comment

Que-50. Write two print statements and disable one of them using a single-line comment.

In [2]:
#print("What will be your future professiona")
print("My Future profession will be AI Engineer")

My Future profession will be AI Engineer

Que-51. Add an inline single-line comment at the end of a print statement explaining what it prints.

In [1]:
Name = 'Paravind Kumar Vishwakarma'
print(f"My name is {Name}") #This f will name with actual stored name

My name is Paravind Kumar Vishwakarma

Que-52. Create a multi-line comment (using triple quotes) that explains the purpose of the next 3 lines of code.

In [11]:
"""
This program will take user input and show output as reverse table
"""
num = int(input("Enter a number = "))
i = 10
while i>=1:
    print(num," X ",i," = ",num*i)
    i-=1

10  X  10  =  100
10  X  9  =  90
10  X  8  =  80
10  X  7  =  70
10  X  6  =  60
10  X  5  =  50
10  X  4  =  40
10  X  3  =  30
10  X  2  =  20
10  X  1  =  10

Que-53. Write a multi-line comment that lists your name, date, and a short program description.

In [9]:
"""
Name = Paravind Kumar Vishwakarma
Date: 01/01/2026
Program Description: In Next module will create a large project
"""

'\nName = Paravind Kumar Vishwakarma\nDate: 01/01/2026\nProgram Description: In Next module will create a large project\n'

Que-54. Add a docstring at the top of a function to describe what the function should do (use triple quotes).

In [12]:

def calculate_area(radius):
    """
    This function calculates the area of a circle given its radius.
    Formula: Area = œÄ * radius^2
    Parameters:
        radius (float): The radius of the circle.
    Returns:
        float: The calculated area of the circle.
    """
    import math
    return math.pi * radius ** 2

Que-55. Use the newline escape sequence \\n to print a two-line message in a single print call.

In [ ]:
print("My Name is Paravind Kumar Vishwakarma. \nMy goal is to become Data Scientist") #Used \n to create new line

My Name is Paravind Kumar Vishwakarma.
My goal is to become Data Scientist

Que-56. Use the tab escape sequence \\t to align three words in a single line.

In [14]:
print("Fruits Name = a) Apple\t b) Mango\t c) Banana\n")

Fruits Name = a) Apple	 b) Mango	 c) Banana

Que-57. Print a string that contains both double quotes and single quotes using the correct escape sequences.

In [16]:
print("She said, \"It's a beautiful day!\"")

She said, "It's a beautiful day!"

Que-58. Print a Windows file path (e.g., C:\\Users\\Name\\Documents) showing backslashes correctly.

In [ ]:
print("C:\\Users\\Name\\Documents")

C:\Users\Name\Documents

Que-59. Print a string with a backspace escape (\\b) to demonstrate how it removes the previous character.

In [18]:
print("Paravind Kumar b\bVishwakarma")

Paravind Kumar Vishwakarma

Que-60. Use a raw string (r"...") to print a pattern containing many backslashes without escaping them.

In [19]:
print(r"C:\Users\paravind\OneDrive - padams.in\Paravind Vishwakarma\ERP Training Video\Tactive Ticket Document")

C:\Users\paravind\OneDrive - padams.in\Paravind Vishwakarma\ERP Training Video\Tactive Ticket Document

Que-61. Print text that includes a Unicode character (e.g., the Rupee symbol \\u20B9) using an escape sequence.

In [37]:
print("The Symbol of Rupee is \u20B9")
print("The Symbol of smile emoji \U0001F60A")
print("The Symbol of smile emoji \u0905")
print("\u092A\u0930\u0935\u093F\u0902\u0926\u0020\u0915\u0941\u092E\u093E\u0930\u0020\u0935\u093F\u0936\u094D\u0935\u0915\u0930\u094D\u092E\u093E")

The Symbol of Rupee is ‚Çπ
The Symbol of smile emoji üòä
The Symbol of smile emoji ‡§Ö
‡§™‡§∞‡§µ‡§ø‡§Ç‡§¶ ‡§ï‡•Å‡§Æ‡§æ‡§∞ ‡§µ‡§ø‡§∂‡•ç‡§µ‡§ï‡§∞‡•ç‡§Æ‡§æ

Que-62. Use print with multiple arguments to display three values separated by the default separator.

In [ ]:
print("")

Que-63. Use print with the sep parameter to separate values by a hyphen (-) instead of the default space.

In [44]:
a = 5
b = 6
c = 10
print(a, b, c, sep='\n')
print(a, b, c, sep='\t')
print(a, b, c, sep='_')

5
6
10
5	6	10
5_6_10

Que-64. Use print with the sep parameter to join values with ' | ' as a custom separator.

In [47]:
print("My name is Paravind Vishwakarma "," I am corporate employee",sep="|")

My name is Paravind Vishwakarma | I am corporate employee

Que-65. Use the end parameter to print two messages on the same line separated by a space.

In [49]:
print("Mango is the king of the fruit.","Mango is sweet fruit.",end=" ")

Mango is the king of the fruit. Mango is sweet fruit.

Que-66. Print the numbers 1 to 5 on the same line, separated by a single space, using end=\" \" in a loop.

In [50]:
print(1,2,3,4,5,end=" ")

1 2 3 4 5

Que-67. Use end=\"\\t\" to print items in a row separated by tabs.

In [51]:
print("Paravind reviews the purchase orders every morning.",
"The ERP system validates all invoices automatically.",
"Managers approve pending requests before noon.",
"Inventory reports are generated weekly for analysis.",
"The dashboard updates in real time to ensure accuracy.",end="\t")

Paravind reviews the purchase orders every morning. The ERP system validates all invoices automatically. Managers approve pending requests before noon. Inventory reports are generated weekly for analysis. The dashboard updates in real time to ensure accuracy.

Que-68. Combine sep and end: print A, B, C with sep=\",\" and end=\";\" and then print D on the same line.

In [54]:
print("A","B","C",sep=";",end=";"+"D")

A;B;C;D

Que-69. Demonstrate print with f-strings to display a formatted sentence using two variables.

Que-70. Compare printing with commas vs. string concatenation by preparing two print statements.

Que-71. Use print with the flush=True parameter to immediately display output during a loop.

Que-72. Print a carriage return example (\\r) to overwrite part of the same line in the terminal.

Que-73. Write a single-line comment explaining what the next print statement does.

Que-74. Add a single-line comment to disable a print statement without deleting it.

Que-75. Create a multi-line comment that explains the purpose of a small program.

Que-76. Use a multi-line comment to describe three variables you will declare next.

Que-77. Print a message that includes a newline (\n) and a tab (\t) in the same string.

Que-78. Print a string that contains both single and double quotes using escape sequences.

Que-79. Print a backslash character in a string using escape sequences.

Que-80. Print a string that uses the carriage return (\r) to overwrite part of the text.

Que-81. Use print() with multiple arguments and check the default separator.

Que-82. Use print() with the sep parameter to separate words with a colon (:).

Que-83. Use print() with the end parameter to print two statements on the same line.

Que-84. Print numbers 1 to 10 on the same line using a loop and end=" ".

Que-85. Combine sep and end in a single print statement to format output.

Que-86. Print a formatted string using f-strings with two variables.

Que-87. Print a string with a Unicode emoji using its escape code.

Que-88. Use print() to display a pattern using escape sequences (e.g., stars in multiple lines).

Que-89. Demonstrate the difference between print("A","B") and print("A"+"B").

Que-90. Use print() with flush=True to show immediate output in a loop.