Question Description

In [ ]:
"""Comments, Escape Sequence and Print Staement"""

Que-49. Add a single-line comment at the top of your script describing what the program does.

In [ ]:
print("Que-49. Add a single-line comment at the top of your script describing what the program does.")
print("\n")

Que-50. Write two print statements and disable one of them using a single-line comment.

In [ ]:
print("Que-50. Write two print statements and disable one of them using a single-line comment.")
print("\n")

Que-51. Add an inline single-line comment at the end of a print statement explaining what it prints.

In [ ]:
print("Que-51. Add an inline single-line comment at the end of a print statement explaining what it prints.")
print("\n")

Que-52. Create a multi-line comment (using triple quotes) that explains the purpose of the next 3 lines of code.

In [ ]:
print("Que-52. Create a multi-line comment (using triple quotes) that explains the purpose of the next 3 lines of code.")
print("\n")

Que-53. Write a multi-line comment that lists your name, date, and a short program description.

In [ ]:
print("Que-53. Write a multi-line comment that lists your name, date, and a short program description.")
print("\n")

Que-54. Add a docstring at the top of a function to describe what the function should do (use triple quotes).

In [ ]:
print("Que-54. Add a docstring at the top of a function to describe what the function should do (use triple quotes).")
print("\n")

Que-55. Use the newline escape sequence \\n to print a two-line message in a single print call.

In [ ]:
print("Que-55. Use the newline escape sequence \\n to print a two-line message in a single print call.")
print("\n")

Que-56. Use the tab escape sequence \\t to align three words in a single line.

In [ ]:
print("Que-56. Use the tab escape sequence \\t to align three words in a single line.")
print("\n")

Que-57. Print a string that contains both double quotes and single quotes using the correct escape sequences.

In [ ]:
print("Que-57. Print a string that contains both double quotes and single quotes using the correct escape sequences.")
print("\n")

Que-58. Print a Windows file path (e.g., C:\\Users\\Name\\Documents) showing backslashes correctly.

In [ ]:
print("Que-58. Print a Windows file path (e.g., C:\\\\Users\\\\Name\\\\Documents) showing backslashes correctly.")
print("\n")

Que-59. Print a string with a backspace escape (\\b) to demonstrate how it removes the previous character.

In [ ]:
print("Que-59. Print a string with a backspace escape (\\b) to demonstrate how it removes the previous character.")
print("\n")

Que-60. Use a raw string (r"...") to print a pattern containing many backslashes without escaping them.

In [ ]:
print("Que-60. Use a raw string (r\"...\") to print a pattern containing many backslashes without escaping them.")
print("\n")

Que-61. Print text that includes a Unicode character (e.g., the Rupee symbol \\u20B9) using an escape sequence.

In [ ]:
print("Que-61. Print text that includes a Unicode character (e.g., the Rupee symbol \\u20B9) using an escape sequence.")
print("\n")

Que-62. Use print with multiple arguments to display three values separated by the default separator.

In [ ]:
print("Que-62. Use print with multiple arguments to display three values separated by the default separator.")
print("\n")

Que-63. Use print with the sep parameter to separate values by a hyphen (-) instead of the default space.

In [ ]:
print("Que-63. Use print with the sep parameter to separate values by a hyphen (-) instead of the default space.")
print("\n")

Que-64. Use print with the sep parameter to join values with ' | ' as a custom separator.

In [ ]:
print("Que-64. Use print with the sep parameter to join values with ' | ' as a custom separator.")
print("\n")

Que-65. Use the end parameter to print two messages on the same line separated by a space.

In [ ]:
print("Que-65. Use the end parameter to print two messages on the same line separated by a space.")
print("\n")

Que-66. Print the numbers 1 to 5 on the same line, separated by a single space, using end=\" \" in a loop.

In [ ]:
print("Que-66. Print the numbers 1 to 5 on the same line, separated by a single space, using end=\\\" \\\" in a loop.")
print("\n")

Que-67. Use end=\"\\t\" to print items in a row separated by tabs.

In [ ]:
print("Que-67. Use end=\\\"\\t\\\" to print items in a row separated by tabs.")
print("\n")

Que-68. Combine sep and end: print A, B, C with sep=\",\" and end=\";\" and then print D on the same line.

In [ ]:
print("Que-68. Combine sep and end: print A, B, C with sep=\\\",\\\" and end=\\\";\\\" and then print D on the same line.")
print("\n")

Que-69. Demonstrate print with f-strings to display a formatted sentence using two variables.

In [ ]:
print("Que-69. Demonstrate print with f-strings to display a formatted sentence using two variables.")
print("\n")

Que-70. Compare printing with commas vs. string concatenation by preparing two print statements.

In [ ]:
print("Que-70. Compare printing with commas vs. string concatenation by preparing two print statements.")
print("\n")

Que-71. Use print with the flush=True parameter to immediately display output during a loop.

In [ ]:
print("Que-71. Use print with the flush=True parameter to immediately display output during a loop.")
print("\n")

Que-72. Print a carriage return example (\\r) to overwrite part of the same line in the terminal.

In [ ]:
print("Que-72. Print a carriage return example (\\r) to overwrite part of the same line in the terminal.")
print("\n")

Que-73. Write a single-line comment explaining what the next print statement does.

In [ ]:
print("Que-73. Write a single-line comment explaining what the next print statement does.")
print("\n")

Que-74. Add a single-line comment to disable a print statement without deleting it.

In [ ]:
print("Que-74. Add a single-line comment to disable a print statement without deleting it.")
print("\n")

Que-75. Create a multi-line comment that explains the purpose of a small program.

In [ ]:
print("Que-75. Create a multi-line comment that explains the purpose of a small program.")
print("\n")

Que-76. Use a multi-line comment to describe three variables you will declare next.

In [ ]:
print("Que-76. Use a multi-line comment to describe three variables you will declare next.")
print("\n")

Que-77. Print a message that includes a newline (\n) and a tab (\t) in the same string.

In [ ]:
print("Que-77. Print a message that includes a newline (\\n) and a tab (\\t) in the same string.")
print("\n")

Que-78. Print a string that contains both single and double quotes using escape sequences.

In [ ]:
print("Que-78. Print a string that contains both single and double quotes using escape sequences.")
print("\n")

Que-79. Print a backslash character in a string using escape sequences.

In [ ]:
print("Que-79. Print a backslash character in a string using escape sequences.")
print("\n")

Que-80. Print a string that uses the carriage return (\r) to overwrite part of the text.

In [ ]:
print("Que-80. Print a string that uses the carriage return (\\r) to overwrite part of the text.")
print("\n")

Que-81. Use print() with multiple arguments and check the default separator.

In [ ]:
print("Que-81. Use print() with multiple arguments and check the default separator.")
print("\n")

Que-82. Use print() with the sep parameter to separate words with a colon (:).

In [ ]:
print("Que-82. Use print() with the sep parameter to separate words with a colon (:).")
print("\n")

Que-83. Use print() with the end parameter to print two statements on the same line.

In [ ]:
print("Que-83. Use print() with the end parameter to print two statements on the same line.")
print("\n")

Que-84. Print numbers 1 to 10 on the same line using a loop and end=" ".

In [ ]:
print("Que-84. Print numbers 1 to 10 on the same line using a loop and end=\" \".")
print("\n")

Que-85. Combine sep and end in a single print statement to format output.

In [ ]:
print("Que-85. Combine sep and end in a single print statement to format output.")
print("\n")

Que-86. Print a formatted string using f-strings with two variables.

In [ ]:
print("Que-86. Print a formatted string using f-strings with two variables.")
print("\n")

Que-87. Print a string with a Unicode emoji using its escape code.

In [ ]:
print("Que-87. Print a string with a Unicode emoji using its escape code.")
print("\n")

Que-88. Use print() to display a pattern using escape sequences (e.g., stars in multiple lines).

In [ ]:
print("Que-88. Use print() to display a pattern using escape sequences (e.g., stars in multiple lines).")
print("\n")

Que-89. Demonstrate the difference between print("A","B") and print("A"+"B").

In [ ]:
print("Que-89. Demonstrate the difference between print(\"A\",\"B\") and print(\"A\"+\"B\").")
print("\n")

Que-90. Use print() with flush=True to show immediate output in a loop.

In [ ]:
print("Que-90. Use print() with flush=True to show immediate output in a loop.")
print("\n")